*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}



body {
 min-height: 100vh;
 text-transform: capitalize;
}

li {
 list-style-type: none;
}

a {
 text-decoration: none;

 &:visited {
  color: inherit;
 }
}

.row {
 width: 100%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
}